body {
    width: 33.33%;
    height: 33.33%;
    flex-wrap: wrap;
    border: 1px solid red;
}

.cel {
    display: flex;
    border: 1px solid gray;
    width: 33.33%;
    height: 33.33%;
    align-items: center;
    justify-content: center;
}

.cel:hover {
.cel input {
    width: 100%;
    border: 0;
    text-align: center;
    height: 100%;
    border: 1px solid gray;
}

.cel input:hover {
    background-color: gray;
    transition: all linear 0.3s;
    cursor: pointer;